.notificationModal{
    position: absolute;
    border: 1px solid lightgrey;
    background-color: white;
    right: 90px;
    top: 70px;
    align-items: center;
    justify-content: center;   
}

.notificationModal__header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notificationModal__header__text{
    margin-left: 10px;
    font-size: 18px;
}

.notificationModal__header__icon{
    margin-right: 10px;
}

.notificationModal > hr{
    height: 1px;
    border: 0;
    background-color: lightgray;
}

.notificationModal__items{
    overflow-y: scroll;
    height: 500px;
}