.sidebarItemShort{
    align-items: center;
    padding-left: 0px;
    position: relative;
    cursor: pointer;
    padding-bottom: 6px;
    padding-top: 6px;
}

.sidebarItemShort__icon{
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    left: 37%;
    position: relative;
}

.sidebarItemShort__title{
    text-align: center;
    font-size: 9px;
    font-weight: 500;
    margin-top: 6px;
}

.sidebarItemShort:hover {
    background-color: lightgray;
}

.sidebarItemShort.selected {
    background-color: lightgray;
}
  
a{
    color: black
}