.sidebarItemShort{
    align-items: center;
    padding-left: 0px;
    position: relative;
    cursor: pointer;
}

.sidebarItemShort__icon{
    color: #606060;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    left: 37%;
    position: relative;
}

.sidebarItemShort__title{
    text-align: center;
    font-size: 9px;
    font-weight: 500;
}

.sidebarItemShort:hover > .sidebarItemShort__title{
    color: red;
}

.sidebarItemShort:hover > .sidebarItemShort__title{
    font-weight: bold;
}

.sidebarItemShort:hover{
    background-color: lightgray;
}

.sidebarItemShort.selected {
    background-color: lightgray;
}

.sidebarItemShort.selected > .sidebarItem__icon {
    color: red;
}
  
.sidebarItemShort.selected > .sidebarItem__title {
  font-weight: bold;
}