.userModalItem{
    display: flex;
    padding-left: 16.5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.userModalItem:hover{
    background-color: lightgray;
}

.userModalItem__Icon{
    margin-right: 24px;
}

.userModalItem__text{
    font-size: 12px;
    padding-top: 3px;
}