.notificationModalItem{
    cursor: pointer;
    display: flex;
    padding-left: 16.5px;
    padding-top: 5px;
    padding-right: 10px;
    width: 500px;
    margin-bottom: 10px;
}

.notificationModalItem:hover{
    background-color: lightgray;
}

.notificationModalItem__preview{
    height: 40px;
    width: 90px;
}

.notificationModalItem__text{
    padding-bottom: 10px;
    padding-left: 20px;
}

.notificationModalItem__date{
    padding-left: 20px;
}