.sidebar{
    flex: 0.15;   
}

.sidebar__wrapper{
    position: fixed;
}

.sidebar > h2{
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebarShort{
    flex: 0.051;
}

.sidebarShort > h2{
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}