.sidebar{
    flex: 0.15;   
}

.sidebar__wrapper{
    top:80px;
    position: sticky;
}

.sidebar__wrapper > hr{
    height: 1px;
    border: 0;
    background-color: lightgray;
}

.sidebarShort{
    flex: 0.05;
}

.sidebarShort > h2{
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar__wrapper > a:visited {
    color: transparent;
}