.sidebarItem{
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.sidebarItem__icon{
    font-size: large !important;
}

.sidebarItem__title{
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sidebarItem:hover{
    background-color: lightgray;
}

.sidebarItem.selected {
    background-color: lightgray;
}
